/*============================================================================
  COCKTAIL-KITS STYLING
==============================================================================*/

/* General settings */
html {
	scroll-behavior: smooth;
}

@media only screen and (min-width: 1400px) {
	.page-width {
		max-width: 1400px;
	}
}

@media only screen and (min-width: 1600px) {
	.page-width {
		max-width: 1600px;
	}
}
/* End of General settings */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Announcement Bar */
.announcement-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
	z-index: 11;
	padding: 30px 10px;
}

.header-first-announcement {
	position: absolute;
	margin: 0;
	animation: announcement_kf 20s ease-in-out infinite both;
}

.header-second-announcement {
	position: absolute;
	margin: 0;
	animation: announcement_kf 20s ease-in-out 10s infinite both;
}

@keyframes announcement_kf {
	0% {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-5px);
	}

	2% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	48% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}

	50% {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-5px);
	}

	100% {
		visibility: hidden;
		opacity: 0;
		transform: translateY(-5px);
	}
}

@media only screen and (min-width: 500px) {
	.announcement-container {
		padding: 0;
		height: 35px;
	}
}
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Header / Navbar */
.site-header .site-header__mobile-nav.grid--table {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 73px;
}

.site-header__icons-wrapper {
	align-self: flex-end;
}

.desktop-menu-container {
	width: 100%;
}

.desktop-menu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header-logo {
	margin-top: 1px;
	max-width: 162.23px !important;
	min-height: 73px !important;
	background-color: #fff !important;
	display: flex !important;
	justify-content: flex-start;
	align-items: center;
}

.logo-left {
	width: auto;
	height: auto;
}

.fixed-header {
	position: fixed !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	z-index: 12;
	box-shadow: 0 10px 40px 5px rgb(0 0 0 / 7%);
}

.site-nav--has-dropdown:hover {
	padding-top: 10px;
	padding-bottom: 10px;
}

.site-nav--has-dropdown:hover .site-nav__dropdown {
	display: block;
	transition: all 0.3s ease-in-out;
	animation: show_dropdown_kf 0.3s ease-in-out 1 backwards;
}

@keyframes show_dropdown_kf {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/* End of Header / Navbar */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Video splash */
.video-splash-container {
	margin: 0 auto;
	display: block;
	height: 88.5vh;
	overflow: hidden;
	position: relative;
	left: 0;
	top: 0;
}

#videobackground {
	top: 0px;
	left: 0px;
	transform-origin: center;
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.hero__inner__video {
	position: absolute;
	top: 40%;
	left: 0%;
	right: 0;
	margin: auto;
	bottom: 0;
}
/* End of Video splash */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Footer */
footer {
	margin-top: 0;
	padding: 30px 55px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 100;
}

.footer-info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 25px;
}

.footer-info a:hover {
	text-decoration: underline;
}

.footer-info p {
	margin: 0;
}

footer .socials {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer .socials a {
	margin: 0 10px;
	width: 25px;
	height: 25px;
}

footer .socials a img {
	height: 100%;
	transition: all 0.2s ease-in-out;
}

footer .socials a img:hover {
	opacity: 0.6;
}

html {
	padding-bottom: 0;
}

@media only screen and (min-width: 1000px) {
	footer {
		flex-direction: row;
		justify-content: space-between;
		height: 80px;
		padding: 0 55px;
	}

	.footer-info {
		flex-direction: row;
		align-items: center;
		padding-bottom: 0;
	}

	.footer-info a,
	.footer-info p {
		margin-right: 15px;
	}
}

/* End of Footer */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Newsletter */
.newsletter-section {
	margin-bottom: 120px !important;
}

.newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-container {
	justify-content: center;
	align-items: center;
	width: 100%;
}

.newsletter-container input {
	margin-bottom: 0;
}

.newsletter-header {
	margin-bottom: 0;
}

.newsletter-header h2 {
	text-transform: initial;
}

@media only screen and (min-width: 800px) {
	.newsletter-container {
		width: 70%;
	}

	.newsletter-header h2 {
		font-size: calc(((var(--font-size-header)) / (var(--font-size-base))) * 1em);
	}
}

/* End of Newsletter */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Landingpage Upper CTA */
#upper-cta {
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 50px;
}

#upper-cta .img-col {
	min-width: 100%;
	min-height: 250px;
	margin: 10px 0 0 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.img-col-container {
	width: 100%;
}

#upper-cta .img-col img {
	width: 100%;
}

#upper-cta .text-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#upper-cta .text-col a {
	width: 100%;
	margin-top: 10px;
	padding: 15px 30px;
	background-color: #f5deae;
	font-weight: 700;
	color: #000;
	transition: all 0.2s ease-in-out;
	text-align: center;
	margin-bottom: 20px;
}

#upper-cta .text-col a:hover {
	opacity: 0.9;
	color: rgb(89, 89, 89);
}

@media only screen and (min-width: 800px) {
	#upper-cta {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 0;
	}

	#upper-cta .img-col-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		width: 100%;
		margin-top: 20px;
	}

	#upper-cta .img-col:first-child {
		margin: 0;
	}

	#upper-cta .img-col {
		min-width: 222px;
		min-height: 222px;
		max-width: 222px;
		max-height: 222px;
		margin: 0 0 0 15px;
	}

	#upper-cta .text-col {
		padding-right: 10px;
	}

	#upper-cta .text-col a {
		width: fit-content;
		margin-bottom: 0;
	}
}

@media only screen and (min-width: 1000px) {
	#upper-cta {
		flex-direction: row;
		justify-content: space-between;
	}

	#upper-cta .img-col {
		min-width: 220px;
		min-height: 220px;
		max-width: 220px;
		max-height: 220px;
	}

	#upper-cta .text-col {
		padding-right: 35px;
		width: 33.5%;
	}

	#upper-cta .img-col-container {
		display: flex;
		align-items: center;
		width: 66%;
	}
}

@media only screen and (min-width: 1400px) {
	#upper-cta .img-col {
		min-width: 280px;
		min-height: 280px;
		max-width: 280px;
		max-height: 280px;
	}

	#upper-cta .text-col {
		padding-right: 55px;
	}
}

@media only screen and (min-width: 1600px) {
	#upper-cta .text-col {
		padding-right: 85px;
	}

	#upper-cta .img-col {
		min-width: 325px;
		min-height: 325px;
		max-width: 325px;
		max-height: 325px;
	}
}
/* End of Landingpage Upper CTA */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Landingpage 3 columns */
#landingpage-3-col {
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0;
}

.three-col-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

#landingpage-3-col .img-col {
	width: 100%;
	height: 60vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 10px;
}

@media only screen and (min-width: 800px) {
	#landingpage-3-col {
		padding: 0;
	}

	.three-col-container {
		flex-direction: row-reverse;
	}

	#landingpage-3-col .img-col {
		width: 33%;
		margin-top: 0;
		height: 65vh;
		margin-right: 15px;
	}

	#landingpage-3-col .text-col {
		width: 33%;
		padding-left: 30px;
	}
}

@media only screen and (min-width: 1200px) {
	#landingpage-3-col .text-col {
		padding-left: 60px;
	}
}
/* End of Landingpage 3 columns */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Landingpage Midder Text */
#landingpage-midder-text {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#landingpage-midder-text .text-col {
	width: 100%;
	padding: 40px 0;
}

@media only screen and (min-width: 800px) {
	#landingpage-midder-text {
		height: 55vh;
	}

	#landingpage-midder-text .text-col {
		width: 400px;
	}
}

/* End of Landingpage Midder Text */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Landingpage Mocktails CTA */
#landingpage-mocktails-cta {
	padding: 20px 0 40px 0;
}

.mocktails-cta-container {
	display: flex;
	flex-wrap: wrap;
}

.mocktails-cta-container .sm-img {
	width: 50%;
	height: 175px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mocktails-cta-container .text-col {
	width: 50%;
	padding-left: 10px;
}

.mocktails-cta-container .text-col h1 {
	margin-bottom: 5px;
	line-height: 1.05;
}

.mocktails-cta-container .lg-img {
	width: 100%;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 25% 75%;
	margin-top: 15px;
}

.mocktails-cta {
	width: 100%;
	margin-top: 15px;
	padding: 15px 30px;
	background-color: #f5deae;
	font-weight: 700;
	color: #000;
	transition: all 0.2s ease-in-out;
	text-align: center;
}

.mocktails-cta:hover {
	opacity: 0.9;
	color: rgb(89, 89, 89);
}

@media only screen and (min-width: 500px) {
	.mocktails-cta-container .sm-img {
		height: 250px;
	}

	.mocktails-cta-container .lg-img {
		height: 440px;
	}
}

@media only screen and (min-width: 700px) {
	.mocktails-cta-container .sm-img {
		height: 350px;
	}

	.mocktails-cta-container .lg-img {
		height: 500px;
	}
}

@media only screen and (min-width: 800px) {
	.mocktails-cta-container {
		display: grid;
		grid-template-areas:
			"empty empty lg-img lg-img"
			"empty empty lg-img lg-img"
			"sm-img sm-img lg-img lg-img"
			"sm-img sm-img lg-img lg-img"
			"sm-img sm-img text text"
			"sm-img sm-img text text"
			"sm-img sm-img cta cta";
	}

	.mocktails-cta-container .sm-img {
		grid-area: sm-img;
		width: 100%;
		place-self: end;
		justify-self: start;
		height: 250px;
		width: 250px;
	}

	.mocktails-cta-container .lg-img {
		grid-area: lg-img;
		width: 100%;
		height: 300px;
		margin-left: 20px;
	}

	.mocktails-cta-container .text-col {
		grid-area: text;
		width: 100%;
		place-self: center start;
		padding: 0;
		margin-top: 40px;
		margin-left: 20px;
		max-width: 85%;
	}

	.mocktails-cta-container .mocktails-cta {
		grid-area: cta;
		width: fit-content;
		height: fit-content;
		place-self: start;
		margin-top: 15px;
		margin-bottom: 30px;
		margin-left: 20px;
	}
}

@media only screen and (min-width: 1000px) {
	.mocktails-cta-container .sm-img {
		width: 320px;
		height: 320px;
	}

	.mocktails-cta-container .lg-img {
		width: 100%;
		height: 400px;
	}

	.mocktails-cta-container .mocktails-cta {
		margin-bottom: 60px;
	}

	.mocktails-cta-container .text-col {
		max-width: 75%;
	}
}

@media only screen and (min-width: 1200px) {
	.mocktails-cta-container {
		justify-items: stretch;
		align-items: stretch;
	}

	.mocktails-cta-container .sm-img {
		width: 335px;
		height: 335px;
	}

	.mocktails-cta-container .lg-img {
		width: 720px;
		height: 400px;
		place-self: stretch;
	}

	.mocktails-cta-container .text-col {
		width: fit-content;
		place-self: start;
		max-width: 55%;
	}
}

@media only screen and (min-width: 1400px) {
	.mocktails-cta-container .sm-img {
		width: 420px;
		height: 420px;
	}

	.mocktails-cta-container .lg-img {
		width: 840px;
		height: 450px;
		place-self: stretch;
	}
}

@media only screen and (min-width: 1600px) {
	.mocktails-cta-container .sm-img {
		width: 500px;
		height: 500px;
	}

	.mocktails-cta-container .lg-img {
		width: 946px;
		height: 470px;
		place-self: stretch;
	}
}
/* End of mocktails-cta */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Landingpage testimonials */
#landingpage-testimonials {
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#landingpage-testimonials .text-col {
	width: 100%;
	margin-bottom: 40px;
}

#landingpage-testimonials .text-col:last-child {
	margin-bottom: 0;
}

.trustpilot-container {
	margin-bottom: 20px;
}

.trustpilot-container a {
	padding: 15px 30px;
	border: 1px solid #000;
	font-weight: 700;
	transition: 0.2s all ease-in-out;
	display: flex;
	align-items: center;
	color: #000;
}

.trustpilot-container a img {
	height: 20px;
	padding-left: 4px;
	margin-bottom: 2px;
}

.trustpilot-container a:hover {
	opacity: 0.75;
}

#landingpage-testimonials .text-col p {
	margin-bottom: 10px;
}

.testimonials-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media only screen and (min-width: 700px) {
	#landingpage-testimonials {
		margin: 80px 0;
		height: 50vh;
		justify-content: center;
		align-items: center;
	}

	.testimonials-container {
		flex-direction: row;
		align-items: flex-start;
		padding-top: 40px;
	}

	#landingpage-testimonials .text-col {
		padding: 0 20px;
		max-width: 400px;
	}
}

@media only screen and (min-width: 1000px) {
	#landingpage-testimonials .text-col {
		padding: 0 60px;
		max-width: 520px;
	}
}
/* End of landingpage testimonials */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Instagram grid */
.ooo-instagram-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ooo-instagram-header__title {
	font-size: calc(((var(--font-size-header)) / (var(--font-size-base))) * 1em);
}

.ooo-instagram-feed__list a:last-child {
	/* display: none; */
}

.ooo-instagram-feed {
	width: 100%;
}

.ooo-instagram-feed__list {
	grid-template-columns: repeat(3, 1fr) !important;
	display: grid !important;
	width: 100%;
	padding: 0 !important;
	margin: 0 !important;
}

.ooo-instagram-media {
	width: 100% !important;
	margin: 0 !important;
}

@media only screen and (min-width: 700px) {
	.ooo-instagram-container {
		flex-direction: row-reverse;
	}

	.ooo-instagram-header {
		width: 30%;
		text-align: left !important;
		padding-left: 20px !important;
		background-color: #fff;
		position: relative;
		z-index: 10;
		height: 100%;
	}

	.ooo-instagram-media {
		width: 100%;
	}
}

@media only screen and (min-width: 1000px) {
	.ooo-instagram-header {
		width: 25%;
	}

	.ooo-instagram-feed__list {
		grid-template-columns: repeat(3, 1fr) !important;
		display: grid;
		padding: var(--ooo-instagram-grid-gutter) var(--ooo-instagram-external-gutter);
		margin: 0 calc(-1 * var(--ooo-instagram-external-gutter));
	}

	.ooo-instagram-media {
		width: 100%;
		margin: 0 calc(var(--ooo-instagram-grid-gutter) / 2);
	}
}

/* End of instagram grid */
/*  */
/*  */
/*  */
/*  */
/* Collections page */
.collection-container {
	padding-bottom: 50px;
}

.filters-toolbar-wrapper {
	border-top: none !important;
	border-bottom: none !important;
	margin-bottom: 0 !important;
}

.filters-toolbar__item-wrapper {
	justify-content: space-between;
}
.filter-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.filter-container p {
	margin: 0;
	color: #000;
}

.filter-container select {
	border: 0 solid transparent;
}

.filter-sort-label {
	text-transform: initial;
	color: #000;
}

.select-group input {
	font-family: "open-sans";
}

.cocktails-collections-container {
	width: 100%;
}

.collection-header {
	margin: 0;
}

.collection-container {
	margin-bottom: 100px;
}

.cocktails-collection,
.mocktails-collection {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap: 30px;
	margin: 0 auto;
	max-width: 100%;
	justify-items: stretch;
}

.cocktails-card,
.mocktails-card {
	width: 100%;
	animation: stagger_kf 0.2s ease-in-out 1 backwards;
}

@keyframes stagger_kf {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#mocktails {
	margin-top: 70px;
	margin-bottom: 180px;
}

.product-img {
	width: 150px;
	height: 150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	margin-bottom: 8px;
}

.product-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
}

.product-info .price {
	align-items: flex-end !important;
}

.product-info .price .price__regular,
.product-info .price .price__sale,
.product-info .price dd:last-child {
	margin: 0;
}

@media only screen and (min-width: 500px) {
	.cocktails-collection,
	.mocktails-collection {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		grid-column-gap: 30px;
		grid-row-gap: 60px;
	}

	.product-img {
		width: 100%;
		height: 250px;
	}

	.product-info {
		flex-direction: row;
	}
}

@media only screen and (min-width: 700px) {
	.cocktails-collection,
	.mocktails-collection {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.product-img {
		width: 100%;
		height: 300px;
	}
}

@media only screen and (min-width: 900px) {
	.cocktails-collection,
	.mocktails-collection {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}

	.product-img {
		width: 100%;
		height: 300px;
	}
}

@media only screen and (min-width: 1200px) {
	.cocktails-collection,
	.mocktails-collection {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}

	.product-img {
		width: 100%;
		height: 340px;
	}
}
/* End of collections page */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Product page */
.product-single {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

.single-product-info {
	width: 100%;
}

.product-form {
	display: flex;
	align-items: flex-end;
	padding-top: 15px !important;
}

.product-form .product-form__cart-submit {
	margin: 0;
	padding: 0 30px;
	border-radius: 0 !important;
}

.product-form__controls-group ~ .product-form__controls-group--submit {
	margin: 0 !important;
}

.product-quantity {
	width: 100px !important;
	border-radius: 0 !important;
}

.product-form__item {
	padding: 0 !important;
}

.product-template__container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	min-height: 70vh;
	margin-bottom: 50px !important;
}

.product-single__description p {
	margin: 0 !important;
}

.product-single__media-group {
	width: 100%;
}

.product-featured-media {
	max-width: 100% !important;
}

.product-single__media-wrapper {
	margin: 0 !important;
	max-width: 100% !important;
}

.product-single__thumbnails {
	justify-content: flex-start !important;
}

@media only screen and (min-width: 800px) {
	.product-single {
		flex-direction: row;
	}

	.single-product-info,
	.product-single__media-group {
		width: 45%;
	}
}

@media only screen and (min-width: 1400px) {
	.product-single {
		justify-content: space-evenly;
	}

	.single-product-info,
	.product-single__media-group {
		width: 35%;
	}
}

.station-tabs-content h2 {
	margin-bottom: 8px !important;
}

.product-single__description .station-tabs .station-tabs-content-inner ul,
.product-single__description .station-tabs .station-tabs-content-inner ol {
	margin-left: 1.5rem !important;
}

.taste-assessment {
	width: 100%;
}

.taste-assessment h2 {
	margin-bottom: 8px !important;
	margin-top: 35px !important;
}

.taste-assessment h2:first-child {
	margin-top: 0 !important;
}

.taste-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding-bottom: 10px;
}

.taste-assessment .line {
	width: 100%;
	position: absolute;
	height: 2px;
	background-color: #f5deae;
	top: 43px;
	z-index: 0;
}

.taste-container .option {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.taste-container .option p {
	margin-bottom: 4px !important;
}

.taste-container .option:nth-child(2) {
	align-items: flex-start;
}

.taste-container .option:nth-child(4) {
	align-items: flex-end;
}

.taste-container .dot {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #f5deae;
	display: flex;
	align-items: center;
	justify-content: center;
}

.taste-container .dot .chosen {
	width: 32px;
	height: 35px;
	margin-top: 4px;
}

/* End of product page */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/* About page */
#about {
	min-height: 70vh;
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
	padding-bottom: 40px;
}

#about .page-width {
	max-width: 750px !important;
}

.page-content-container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
}

#about .page-content-container p {
	width: 100%;
}

#about .page-content-container p img {
	width: 100%;
	margin-bottom: 20px;
}

.about-col {
	width: 100%;
	margin-bottom: 60px;
}

@media only screen and (min-width: 900px) {
	#about .page-content-container {
		flex-direction: column;
		justify-content: flex-start;
	}

	.about-col {
		width: 45%;
		margin-bottom: 0;
	}
}
/* End of about page */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Cart page */
.cart-page-container {
	min-height: 74vh;
	margin-bottom: 50px;
}

.cart-header__title {
	text-align: left;
}

.cart-subtotal {
	display: flex;
	justify-content: space-between;
}

.cart-subtotal__price,
.cart-subtotal__title {
	font-size: 18px !important;
	text-transform: uppercase;
}

.cart__final-price span {
	font-size: 16px;
}

.cart-product-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tax-checkout {
	margin-bottom: 10px !important;
	padding: 10px 0 0 0 !important;
}

.rale-widget {
	margin-bottom: 20px !important;
}

.rale-message {
	font-size: 12.5px !important;
}

.cart__row--heading th {
	padding: 10px 23px !important;
}

.cart th:first-child {
	padding-left: 0 !important;
}

.cart th:last-child {
	padding-right: 0 !important;
}

/* End of cart page */
/*  */
/*  */
/*  */
/*  */
/*  */
/* company contact */
#events {
	margin-bottom: 50px;
	min-height: 73vh;
}

.events-contact-contaner,
.events-contact-container {
	width: 100%;
	margin-bottom: 40px;
}

.events-contact-form-information {
	margin-bottom: 40px;
}

@media only screen and (min-width: 900px) {
	.events-contact-contaner,
	.events-contact-container {
		width: 45%;
	}

	.events-contact {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
/* End of company contact */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Privacy & cookie policy */
h3 {
	font-size: 15px !important;
	text-transform: uppercase !important;
	letter-spacing: 0.1em !important;
}

/* end of privacy and cookie policy */
/*  */
/*  */
/*  */
/*  */
/*  */
/* Contact page */
#contact {
	min-height: 69vh;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contact-img {
	width: 100%;
	height: 340px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-col {
	width: 100%;
	margin-bottom: 60px;
}

.contact-wrapper {
	margin-top: 30px;
}

.contact-info-wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.contact-info-wrapper img {
	width: 15px;
	margin-right: 10px;
}

@media only screen and (min-width: 500px) {
	.contact-img {
		height: 450px;
	}
}

@media only screen and (min-width: 900px) {
	#contact .page-content-container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.contact-col {
		width: 50%;
		margin-bottom: 0;
	}

	.contact-col:last-child {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-left: 15%;
	}

	.contact-img {
		width: 425px;
		height: 425px;
	}
}

@media only screen and (min-width: 1100px) {
	.contact-img {
		min-width: 600px;
		width: 100%;
		height: 600px;
	}
}
/* end of contact page */
